server:
  port: 8081

spring:
  security:
    user:
      name: admin
      password: admin123
  application:
    name: inventory-service  # This is the name that will be used in Eureka
  datasource:
    url: jdbc:mysql://localhost:3306/inventory_service_db
    username: devuser
    password: Pasindu@119
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  spring:
    kafka:
      bootstrap-servers: localhost:9092
      consumer:
        group-id: inventory-group
        auto-offset-reset: earliest
      producer:
        acks: all
